<!DOCTYPE html>
<html lang="en">
<head>
  <title>Checkout App</title>
  <link rel="stylesheet" href="../main.css">
  <link rel="stylesheet" href="style.css">
  <script src="../common/vue.dev.js"></script>
  <script src="index.js" defer></script>
</head>
<body>
  <div @keyup.esc="closeAnyModal" id="app">
    <header>
      <div class="container nav">
        <div class="logo">
          <img src="shop.png" alt="shop-logo">
          <p>Sayang Enterprise (AR12003043)</p>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a @click="openAddStockModal"><span>Tambah Stock</span></a>
          </li>
          <li :class="{ 'nav-item': true, 'active-page': page === 'stock-list' }">
              <a @click="changePage('stock-list')"><span>Semua Stock</span></a>
          </li>
          <li :class="{ 'nav-item': true, 'active-page': page === 'out-of-stock-list' }">
            <a @click="changePage('out-of-stock-list')"><span>Kehabisan Stock</span></a>
          </li>
          <li :class="{ 'nav-item': true, 'active-page': page === 'receipt-list' }">
            <a @click="changePage('receipt-list')"><span>Senarai Resit</span></a>
          </li>
          <li :class="{ 'nav-item': true, 'active-page': page === 'analitik' }">
            <a @click="changePage('analitik')"><span>Analitik</span></a>
          </li>
          <li :class="{ 'nav-item': true, 'active-page': page === 'financial-statement' }">
            <a @click="changePage('financial-statement')"><span>Penyata Kewangan</span></a>
          </li>
        </ul>
      </div>
    </header>
    <div v-if="page === 'stock-list'" class="container">
      <input v-model="search" id="search" type="search" placeholder="Search">
      <table id="all" class="item-list">
        <caption><span>Senarai Semua</span><button style="margin-left: 1rem;" @click="generateAllStockListPdf">Print</button></caption>
        <thead>
          <tr>
            <th style="width: 25%;" @click="sortBy('id')">Barcode</th>
            <th style="width: 40%;" @click="sortBy('name')">Nama Barang</th>
            <th @click="sortBy('stock')">Stock</th>
            <th @click="sortBy('price')">Harga(RM)</th>
            <th @click="sortBy('sold')">Jumlah Jualan</th>
          </tr>
        </thead>
        <tbody>
          <template v-if="filteredItems.length > 0">
            <tr v-for="item in filteredItems" :key="item.id" @click="editItem(item.id)">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.stock }}</td>
              <td>RM {{ item.price.toFixed(2) }}</td>
              <td>{{ item.sold }}</td>
            </tr>
          </template>
          <template v-else>
            <tr>
              <td style="text-align: center;" colspan="5">-- NONE --</td>
            </tr>
          </template>
        </tbody>
      </table>
      <div @click="closeEditStockModal" v-if="showEditStockModal" class="modal-background">
        <div @click.stop class="modal">
          <div class="modal-header">
            <p><strong>Edit Stock</strong></p>
            <p @click="closeEditStockModal" class="close-modal-btn">x</p>
          </div>
          <div class="modal-body">
            <div class="checkout-input">
              <div style="width: 65%;">
                <span>Barcode: </span><input type="text" placeholder="Barcode" :value="getSelectedStockItem.id" disabled>
              </div>
              <div style="width: 30%;">
                <span>Bilangan: </span><input ref="selectedItemAmount" type="number" placeholder="Bilangan" :value="getSelectedStockItem.stock">
              </div>
            </div>
            <div class="checkout-input">
              <div style="width: 65%;">
                <span>Nama: </span><input ref="selectedItemName" type="text" placeholder="Nama" :value="getSelectedStockItem.name">
              </div>
              <div style="width: 30%;">
                <span>Harga(RM): </span><input ref="selectedItemPrice" type="number" placeholder="RM0.00" :value="getSelectedStockItem.price">
              </div>
            </div>
          </div>
          <div class="modal-footer" style="justify-content: flex-end;">
            <button style="margin-right: 10px;" class="warning-btn" @click="deleteStock">Delete</button>
            <button @click="editStock">Update Stock</button>
          </div>
        </div>
      </div>
    </div>
    <div v-else-if="page === 'out-of-stock-list'" class="container">
      <input v-model="search" id="search" type="search" placeholder="Search">
      <table id="outStock" class="item-list">
        <caption><span>Kehabisan Stock</span><button style="margin-left: 1rem;" @click="generateOutOfStockListPdf">Print</button></caption>
        <thead>
          <tr>
            <th style="width: 25%;" @click="sortBy('id')">Barcode</th>
            <th style="width: 40%;" @click="sortBy('name')">Nama Barang</th>
            <th @click="sortBy('stock')">Stock</th>
            <th @click="sortBy('price')">Harga(RM)</th>
            <th @click="sortBy('sold')">Jumlah Jualan</th>
          </tr>
        </thead>
        <tbody>
          <template v-if="outOfStockItems.length > 0">
            <tr v-for="item in outOfStockItems" :key="item.id" @click="editItem(item.id)">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.stock }}</td>
              <td>RM {{ item.price.toFixed(2) }}</td>
              <td>{{ item.sold }}</td>
            </tr>
          </template>
          <template v-else>
            <tr>
              <td style="text-align: center;" colspan="5">-- NONE --</td>
            </tr>
          </template>
        </tbody>
      </table>
      <div @click="closeEditStockModal" v-if="showEditStockModal" class="modal-background">
        <div @click.stop class="modal">
          <div class="modal-header">
            <p><strong>Edit Stock</strong></p>
            <p @click="closeEditStockModal" class="close-modal-btn">x</p>
          </div>
          <div class="modal-body">
            <div class="checkout-input">
              <div style="width: 65%;">
                <span>Barcode: </span><input type="text" placeholder="Barcode" :value="getSelectedStockItem.id" disabled>
              </div>
              <div style="width: 30%;">
                <span>Bilangan: </span><input ref="selectedItemAmount" type="number" placeholder="Bilangan" :value="getSelectedStockItem.stock">
              </div>
            </div>
            <div class="checkout-input">
              <div style="width: 65%;">
                <span>Nama: </span><input ref="selectedItemName" type="text" placeholder="Nama" :value="getSelectedStockItem.name">
              </div>
              <div style="width: 30%;">
                <span>Harga(RM): </span><input ref="selectedItemPrice" type="number" placeholder="RM0.00" :value="getSelectedStockItem.price">
              </div>
            </div>
          </div>
          <div class="modal-footer" style="justify-content: flex-end;">
            <button style="margin-right: 10px;" class="warning-btn" @click="deleteStock">Delete</button>
            <button @click="editStock">Update Stock</button>
          </div>
        </div>
      </div>
    </div>
    <div id="receipt-list-div" v-else-if="page === 'receipt-list'" class="container">
      <input v-model="search" id="search" type="search" placeholder="Search">
      <div style="display: flex; justify-content: space-between; align-items: flex-end; font-weight: bold; margin: 1rem 0;">
        <select v-model="receiptDay" style="width: auto;">
          <option v-for="day in getAllDaysShopOpen" :value="day">{{ `${day.split('_').slice(0, 3).join(' ')}, (${day.split('_')[3]})` }}</option>
        </select>
        <div style="display: flex; flex-direction: column; align-items: flex-end;">
          <span>Jumlah Jualan: {{ `RM${getTotalSaleForTheDay.toFixed(2)}` }}</span>
          <span>Jumlah Untung: {{ `RM${getTotalProfitForTheDay.toFixed(2)}` }}</span>
        </div>
      </div>
      <div style="overflow: auto; height: 80%; margin: 0.5rem 0;">
        <table class="receipt-list" v-if="receiptDay" style="margin: 0;">
          <thead>
            <tr>
              <th>ID Resit</th>
              <th>Masa</th>
              <th>Total (RM)</th>
              <th>Profit (RM)</th>
            </tr>
          </thead>
          <tbody>
            <template v-if="getReceiptsForSpecificDay.length > 0">
              <tr v-for="(receipt, index) in getReceiptsForSpecificDayInReverse" :key="index" @click="viewReceipt(receipt)">
                <td>{{ receipt.id }}</td>
                <td>{{ getFormattedTime(receipt.datetime) }}</td>
                <td>{{ `RM${receipt.total.toFixed(2)}` }}</td>
                <td>{{ `RM${(receipt.profit?.toFixed(2) || '0.00')}` }}</td>
              </tr>
            </template>
            <template v-else>
              <tr>
                <td colspan="4">-- No Receipt --</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
    <div v-else-if="page === 'analitik'" class="container">
      <h2>Analitik</h2>
      <div style="display: flex; align-items: center; margin: 1rem 0;">
        <p>Dari</p>
        <select v-model="analyticDayFrom" style="width: 300px; margin: 0 1rem;">
          <option v-for="day in analyticDayFromOptions" :value="day">{{ `${day.split('_').slice(0, 3).join(' ')}, (${day.split('_')[3]})` }}</option>
        </select>
        <p>Hingga</p>
        <select v-model="analyticDayTo" style="width: 300px; margin: 0 1rem;">
          <option v-for="day in analyticDayToOptions" :value="day">{{ `${day.split('_').slice(0, 3).join(' ')}, (${day.split('_')[3]})` }}</option>
        </select>
      </div>
      <div class="analytic-view">
        <div>
          <p>Jumlah Jualan: RM{{ analyticTotalSales }}</p>
          <p>Jumlah Untung: RM{{ analyticTotalProfits }}</p>
        </div>
        <table class="item-list">
          <caption><span>Senarai Barang Paling Banyak Terjual</span></caption>
          <thead>
            <tr>
              <th>Barcode</th>
              <th>Nama Barang</th>
              <th>Jumlah Terjual</th>
            </tr>
          </thead>
          <tbody>
            <template v-if="analyticMostSoldItems.length > 0">
              <tr v-for="item in analyticMostSoldItems" :key="item.id">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.sold }}</td>
              </tr>
            </template>
            <template v-else>
              <tr>
                <td style="text-align: center;" colspan="3">-- NONE --</td>
              </tr>
            </template>
          </tbody>
        </table>
        <table class="item-list">
          <caption><span>Senarai Barang Paling Untung</span></caption>
          <thead>
            <tr>
              <th>Barcode</th>
              <th>Nama Barang</th>
              <th>Jumlah Untung</th>
            </tr>
          </thead>
          <tbody>
            <template v-if="analyticMostProfitableItems.length > 0">
              <tr v-for="item in analyticMostProfitableItems" :key="item.id">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.profit.toFixed(2) }}</td>
              </tr>
            </template>
            <template v-else>
              <tr>
                <td style="text-align: center;" colspan="3">-- NONE --</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
    <div v-else-if="page === 'financial-statement'" class="container">
      <h2>Penyata Kewangan</h2>
      <p style="margin-top: 1rem;">Kewangan Semasa: RM{{ currentMoneyTotal.toFixed(2) }}</p>
      <div style="display: flex; align-items: center; margin: 1rem 0;">
        <p>Dari</p>
        <input style="width: 300px; margin: 0 1rem;" type="date" v-model="financialStatementFrom">
        <p>Hingga</p>
        <input style="width: 300px; margin: 0 1rem;" type="date" v-model="financialStatementTo">
      </div>
      <table class="item-list">
        <caption>
          <span>Senarai Penyata</span>
          <button style="margin-left: 1rem;" @click="showFinanceStatementModal = true">Tambah Penyata</button>
          <button style="margin-left: 1rem;" @click="addNewStatementForTodaySales">Simpan Penyata Jualan Harini</button>
        </caption>
        <thead>
          <tr style="text-align: center;">
            <th style="width: 60%;">Detail</th>
            <th><span style="color: green;">Debit</span> / <span style="color: red;">Kredit</span> (RM)</th>
            <th>Tarikh</th>
          </tr>
        </thead>
        <tbody>
          <template v-if="financeFiltered.length > 0">
            <tr v-for="item in financeFiltered" :key="item.id" @click="editFinancialStatement(item)">
              <td>{{ item.description }}</td>
              <template v-if="item.value >= 0">
                <td style="color: green; text-align: center;">{{ item.absValue.toFixed(2) }}</td>
              </template>
              <template v-else>
                <td style="color: red; text-align: center;">{{ item.absValue.toFixed(2) }}</td>
              </template>
              <td style="text-align: center;">{{ item.date }}</td>
            </tr>
          </template>
          <template v-else>
            <tr>
              <td style="text-align: center;" colspan="3">-- NONE --</td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
    <div @click="closeCheckoutModal" v-if="showCheckoutModal" class="modal-background">
      <div @click.stop class="modal">
        <div class="modal-header">
          <p><strong>Checkout</strong></p>
          <p @click="closeCheckoutModal" class="close-modal-btn">x</p>
        </div>
        <div class="modal-body">
          <div class="checkout-input">
            <div style="width: 65%;">
              <span>Barcode: </span><input ref="itemId" @keyup.enter="addToCheckout" type="text" placeholder="Barcode">
            </div>
            <div style="width: 30%;">
              <span>Bilangan: </span><input @keyup.enter="addToCheckout" ref="amount" type="number" placeholder="Bilangan">
            </div>
          </div>
          <div class="checkout-input">
            <div style="width: 65%;">
              <span>Nama: </span><input ref="itemName" @keyup.enter="addUnlistedItemToCheckout" type="text" placeholder="Nama">
            </div>
            <div style="width: 30%;">
              <span>Harga(RM): </span><input @keyup.enter="addUnlistedItemToCheckout" ref="price" type="number" placeholder="RM0.00">
            </div>
          </div>
          <table>
            <caption>Senarai Barang</caption>
            <thead>
              <tr>
                <th style="width: 10%;">Barcode</th>
                <th style="width: 60%;">Nama</th>
                <th style="width: 15%;">Bilangan</th>
                <th colspan="2">Jumlah(RM)</th>
              </tr>
            </thead>
            <tbody>
              <template v-if="getCheckoutItems.length > 0">
                <tr v-for="(item, index) in getCheckoutItems" :key="index">
                  <td>{{ item.id }}</td>
                  <td>{{ item.name }}</td>
                  <template v-if="item.id !== '-'">
                    <td style="width: 15%;"><input type="number" v-model.number="item.stock"></td>
                    <td style="width: 15%;">{{ getTotal(item).toFixed(2).toString() }}</td>
                  </template>
                  <template v-else>
                    <td>{{ item.stock }}</td>
                    <td style="width: 15%;"><input type="number" v-model.number="item.price"></td>
                  </template>
                  <td style="color:red; text-align: center; cursor: pointer;" @click="removeCheckoutItem(index)">x</td>
                </tr>
              </template>
              <template v-else>
                <tr>
                  <td style="text-align: center;" colspan="5">No items</td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <p><strong>{{ `Total: RM ${getAbsoluteTotal().toFixed(2).toString()}` }}</strong></p>
          <button @click="checkout">Checkout</button>
        </div>
      </div>
    </div>
    <div @click="closeAddStockModal" v-if="showAddStockModal" class="modal-background">
      <div @click.stop class="modal">
        <div class="modal-header">
          <p><strong>Tambah Stock</strong></p>
          <p @click="closeAddStockModal" class="close-modal-btn">x</p>
        </div>
        <div class="modal-body">
          <table>
            <caption>Senarai Barang</caption>
            <thead>
              <tr>
                <th>Barcode</th>
                <th>Nama</th>
                <th>Bilangan</th>
                <th>Harga Jual</th>
                <th colspan="2">Harga Beli</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in newStockItems" :key="index">
                <td style="width: 20%;">
                  <input @blur="checkIfItemIsInStock($event, index)" type="text" placeholder="Barcode" list="items">
                  <datalist id="items">
                    <option v-for="item in items" :value="item.id">{{ item.name }}</option>
                  </datalist>
                </td>
                <td style="width: 50%;"><input type="text" v-model.number="item.name"></td>
                <td><input type="number" v-model.number="item.stock"></td>
                <td><input type="number" v-model.number="item.price" placeholder="RM0.00"></td>
                <td><input type="number" v-model.number="item.buyPrice" placeholder="RM0.00"></td>
                <td v-if="newStockItems.length > 1" style="color:red; text-align: center; cursor: pointer;" @click="removeNewStockItem(index)">x</td>
              </tr>
            </tbody>
          </table>
          <button style="margin-top: 10px; float: right;" @click="addToNewStock">Tambah Barang</button>
        </div>
        <div class="modal-footer" style="justify-content: flex-end;">
          <button @click="addStock">Tambah Stock</button>
        </div>
      </div>
    </div>
    <div @click="closeFinanceModal" v-if="showFinanceStatementModal" class="modal-background">
      <div @click.stop class="modal">
        <div class="modal-header">
          <p v-if="financialStatement.id"><strong>Penyata Kewangan</strong></p>
          <p v-else><strong>Penyata Kewangan Baru</strong></p>
          <p @click="closeFinanceModal" class="close-modal-btn">x</p>
        </div>
        <div class="modal-body">
          <div style="display: flex; flex-direction: column;">
            <div class="input-with-label">
              <span>Detail: </span>
              <input type="text" v-model="financialStatement.description">
            </div>
            <div style="display: flex; align-items: center; margin-top: 1rem;">
              <div class="input-with-label" style="margin-right: 2rem;">
                <span v-if="financialStatement.value > 0">Debit: </span>
                <span v-else>Kredit: </span>
                <input type="number" v-model.number="financialStatement.value">
              </div>
              <div class="input-with-label">
                <span>Tarikh: </span>
                <input type="date" :value="financialStatementDate" @blur="setFinancialStatementDate($event.target.value)">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer" style="justify-content: flex-end;">
          <button v-if="financialStatement.id" style="margin-right: 1rem;" class="warning-btn" @click="deleteFinancialStatement">Delete</button>
          <button @click="saveFinancialStatement">Simpan</button>
        </div>
      </div>
    </div>
    <div @click="closeReceiptModal" v-if="showReceiptModal && viewedReceipt !== {}" class="modal-background">
      <div @click.stop class="modal">
        <div class="modal-header">
          <p><strong>Summary</strong><button style="margin-left: 1rem;" @click="generateReceipt">Print</button></p>
          <p @click="closeReceiptModal" class="close-modal-btn">x</p>
        </div>
        <div class="modal-body">
          <div class="receipt-header">
            <p><strong>ID Resit: </strong>{{ viewedReceipt.id }}</p>
            <div>
              <p><strong>Tarikh: </strong>{{ `${getFormattedDate(viewedReceipt.datetime).split('_').slice(0, 3).join(' ')}, (${getFormattedDate(viewedReceipt.datetime).split('_')[3]}) ` }}</p>
              <p><strong>Masa: </strong> {{` ${getFormattedTime(viewedReceipt.datetime)}` }}</p>
            </div>
          </div>
          <table>
            <caption>Senarai Barang</caption>
            <thead>
              <tr>
                <th style="width: 25%;">Barcode</th>
                <th style="width: 45%;">Nama</th>
                <th style="width: 15%;">Bilangan</th>
                <th style="width: 15%;">Jumlah(RM)</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in viewedReceipt.items" :key="index">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.stock }}</td>
                <td>{{ getTotal(item).toFixed(2).toString() }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer" style="justify-content: flex-end;">
          <p><strong>{{ `Total RM ${viewedReceipt.total.toFixed(2).toString()}` }}</strong></p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
